# Python bytecode and cache
__pycache__/
*.py[cod]

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# Environment/config files
*.env
.envrc
*.secret

# macOS system files
.DS_Store

# Logs and temporary files
*.log
*.tmp

# VS Code project settings (optional)
.vscode/

# Remove Miniconda (optional)
Miniconda3-latest-MacOSX-arm64.sh

